body {
    font-family: 'Lora', serif;
    background-color: #111;
}

h1 {
    font-weight: 700;
}

b {
    color: #b20e10;
}
.col-md-12 {
    padding-left:10px;
	padding-right:10px;
}
.outer-container {
    min-width: 1520px;
}
.secondary {
    height:600px;
}
.col-md-4 {
    height: 600px;
}
.header {
    text-align:center;
}

.header .description {
    padding-top: 20px;
}
.title {
    background-color: #333;
    color: #eee;
    padding: 10px;
    font-size : 25px;
    width:  100%;
    font-weight: bold;
}
.main {

}



.box, .total-infected, .total-death, .total-confirmed, .total-recovered {
    float:left;
    color : #eee;
    text-align: center;
}
.top-infected {
    
    padding-left:20px;
}
.top-infected-list, .top-infected-list-2 {
    text-align: left;
    float: left;
}
.top-infected-list-2 {
    padding-left: 40px;
}
.total-infected, .total-death, .total-confirmed, .total-recovered {
    width:  160px
}
.box {
    margin: 10px;
    width:  500px;
}

.box-title {
    background-color: #333;
    font-size: 16px;
    font-size: 20px;
    padding: 5px;
    font-weight: bold;
}
.total-content {
    padding: 5px;
}

.total-death, .total-recovered {
    border-left: 1px solid #eee;
}
.total-confirmed-count, .total-death-count, .total-recovered-count {
    font-size:30px;
    font-weight:  bold;
}
.total-infected-count {
    font-size: 36px;
    color: red;
    font-weight: bold;
}

.top-infected-list, .top-infected-list-2 {
    font-size: 14px;
}
td.country-name {
    padding-left: 5px;
}
td.country-count {
    color: red;
    text-align: right;
    font-weight:  bold;
}
.total-confirmed-count {
    color: red;
}
.total-death-count {
    color: dimgray;
}
.total-recovered-count {
    color: green;
}
.total-infected-changes, .total-confirmed-changes, .total-death-changes, .total-recovered-changes {
    margin-top:-5px;
    font-size: 12px;
}
.total-confirmed-label, .total-death-label, .total-recovered-label {
    font-size: 18px;
}






.secondary {
    padding : 20px 0;
}

.data-source{
    color : #aaa;
    font-size : 12px;
}
#map {
    height: 600px;
    width: 100%;
    margin-top:-2px;
    border: 2px solid #333;
    max-width: 1000px;
    float: left;
}
.container {
    max-width: 100%;
    background-color: transparent;
}
.bar-chart {
    height: 600px;
    width: 100%;
}
.scatter-plot {
    float: left;
    height: 300px;
    width:  500px;
}