/* TODO refactor and cleanup the code */


body {
  font-family: 'Lora', serif;
  background-color: #111;
}

h1 {
  font-weight: 700;
}

b {
  color: #b20e10;
}
.outer-container {
}
.main-content-wrapper {
  margin-left: 0;
  margin-right: 0;
}

.header {
  text-align: center;
}

.header .description {
  padding-top: 20px;
}

.header-bar {
  background-color: #333;
  color: #eee;
  padding: 15px;
  font-size: 25px;
  width: 100%;
  font-weight: bold;
  overflow: auto;
}

.info {
  font-size: 16px;
  float: right;
  line-height: 36px;
}

.title, .title-1, .title-2 {
  float: left;
}
.title-2 {
  padding-left: 6px;
}
.main-content-wrapper {
  overflow: auto;
}
.box,
.total-infected,
.total-death,
.total-confirmed,
.total-recovered {
  float: left;
  color: #eee;
  text-align: center;
}
.total-infected {
  width: 33%;
}
.top-infected {
  width: 66%;
  padding-left: 1%;
  overflow: auto;
}

.top-infected-list,
.top-infected-list-2 {
  text-align: left;
  float: left;
  width:  49%;
}

.top-infected-list-2 {
  padding-left: 2%;
}

.total-death,
.total-confirmed,
.total-recovered {
  width: 33%;
}

.box {
  margin: 8px 0;
  width: 100%;
}

.box-title {
  background-color: #333;
  font-size: 16px;
  font-size: 20px;
  padding: 5px;
  font-weight: bold;
}

.total-content {
  padding: 5px;
}

.total-death,
.total-recovered {
  border-left: 1px solid #eee;
}

.total-confirmed-count,
.total-death-count,
.total-recovered-count {
  font-size: 30px;
  font-weight: bold;
}

.total-infected-count {
  font-size: 36px;
  color: red;
  font-weight: bold;
}

.top-infected-list,
.top-infected-list-2 {
  font-size: 14px;
}

td.country-name {
  padding-left: 5px;
}

td.country-count {
  color: red;
  text-align: right;
  font-weight: bold;
}

.total-confirmed-count {
  color: red;
}

.total-death-count {
  color: mediumpurple;
}

.total-recovered-count {
  color: limegreen;
}

.total-infected-changes,
.total-confirmed-changes,
.total-death-changes,
.total-recovered-changes {
  margin-top: -5px;
  font-size: 12px;
}

.tota-infected-label,
.total-confirmed-label,
.total-death-label,
.total-recovered-label {
  font-size: 18px;
}

.secondary {
  padding: 20px 0;
}

.footer {
  padding: 0 15px;
}
.credits {
  text-align: justify;
}

.footer {
  color: #aaa;
  font-size: 12px;
}
.data-source a {
  color: white;
}
.data-source a:hover {
  color: red;
}

#map {
  height: 600px;
  width: 60%;
  margin-top: -2px;
  border: 2px solid #333;
  float: left;
}
.right-side-bar {
  width: 39%;
  overflow: auto;
  padding-left: 1%;
}

.scatter-plot {
  float: left;
  height: 300px;
  width: 100%;
  overflow: hidden;
}


.linkedin {
  background-image: url(../images/icon-linkedin.png);
  background-repeat: no-repeat;
  background-size: 25px 25px;
  padding-left: 30px;
  padding-top: 3px;
  padding-bottom: 3px;
}

.info a {
  color: #eee;
}

.red {
  color: red;
}
.green {
  color: limegreen;
}
.mediumpurple {
  color: mediumpurple;
}

@media (min-width: 992px) and (max-width: 1199px) {
  .total-infected-label, .total-confirmed-label, .total-death-label, .total-recovered-label {
    font-size: 16px;
  }
  .scatter-plot {
    height: 250px;
  }
  #map {
    height: 530px;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .total-infected-label, .total-confirmed-label, .total-death-label, .total-recovered-label {
    font-size: 12px;
  }
  .top-infected-list, .top-infected-list-2 {
    font-size:  10px;
  }
  .title {
    font-size: 20px;
  }
  .info {
    font-size: 13px;
  }
  .linkedin {
    background-size: 20px 20px;
  }
  .box-title {
    font-size: 14px;
  }
  .total-infected-changes, .total-confirmed-changes, .total-death-changes, .total-recovered-changes {
    font-size:  9px;
  }
  .total-confirmed-count, .total-death-count, .total-recovered-count {
    font-size: 23px;
  }
  .total-infected-count {
    font-size: 32px;
  }
  .footer {
    font-size: 10px; 
  }
  .scatter-plot {
    height: 220px;
    overflow: hidden;
  }
  #map {
    height: 450px;
  }
}
@media (max-width: 767px) {
  #map {
    width: 100%;
    height: 300px;
  }
  .title, .info {
    float: none;
    text-align: center;
  }
  .right-side-bar {
    width: 98%;
    padding-left: 1%;
    padding-right: 1%;
    float:none;
  }
  .title-1, .title-2 {
    float: none;
    padding-left: 0;
  }
}

@media(max-width: 360px) {
  .total-infected-label, .total-confirmed-label, .total-death-label, .total-recovered-label {
    font-size: 12px;
  }
  .total-confirmed-count, .total-death-count, .total-recovered-count {
    font-size:  20px;
  }
  .total-infected-count {
    font-size: 25px;
  }
  .top-infected-list, .top-infected-list-2 {
    font-size:  10px;
  }
  .total-infected-changes, .total-confirmed-changes, .total-death-changes, .total-recovered-changes {
    font-size:  9px;
  }
}